<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ArticleItem ANY>
<!ATTLIST ArticleItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT ContactFormula ANY>
<!ATTLIST ContactFormula id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT ProjectItem ANY>
<!ATTLIST ProjectItem id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1063" key="6a1a3454-8c65-4a48-ab02-f9af7d907c62" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-10-31T21:26:58" updateDate="2015-11-01T13:13:56" nodeName="HOME" urlName="home" path="-1,1063" isDoc="" nodeType="1052" creatorName="RAY" writerName="RAY" writerID="0" template="1051" nodeTypeAlias="Homepage">
    <homepageBodyText><![CDATA[<p>WELCOME to the developer site.</p>
<p> </p>
<p>The site is made by Raimonds Nikmanis</p>]]></homepageBodyText>
    <homepageTitle><![CDATA[WELCOME!]]></homepageTitle>
    <Textpage id="1064" key="b58050a0-ab9c-4811-8930-1b558876dba9" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2015-10-31T21:27:42" updateDate="2015-11-01T17:02:20" nodeName="About us" urlName="about-us" path="-1,1063,1064" isDoc="" nodeType="1054" creatorName="RAY" writerName="RAY" writerID="0" template="1053" nodeTypeAlias="Textpage">
      <textpageBodyText><![CDATA[<p><strong>Lorem Ipsum</strong><span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>xt</p>]]></textpageBodyText>
      <textpageTitle><![CDATA[About us]]></textpageTitle>
    </Textpage>
    <ArticlesMain id="1065" key="adc3d243-689b-43da-9d13-eec8b193de53" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2015-10-31T21:30:02" updateDate="2015-10-31T21:30:02" nodeName="Articles" urlName="articles" path="-1,1063,1065" isDoc="" nodeType="1056" creatorName="RAY" writerName="RAY" writerID="0" template="1055" nodeTypeAlias="ArticlesMain">
      <articlesMainBodyText><![CDATA[<p>Articles main body text</p>]]></articlesMainBodyText>
      <articlesMainTitle><![CDATA[Articles main title]]></articlesMainTitle>
      <ArticleItem id="1066" key="1ef3ac8d-c31f-4283-b06d-c0f3f1e916a0" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2015-10-31T21:30:36" updateDate="2015-11-01T12:48:49" nodeName="Article one" urlName="article-one" path="-1,1063,1065,1066" isDoc="" nodeType="1058" creatorName="RAY" writerName="RAY" writerID="0" template="1057" nodeTypeAlias="ArticleItem">
        <articleItemTitle><![CDATA[Article one title]]></articleItemTitle>
        <articleItemBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum felis et eros ullamcorper, at faucibus nulla fermentum. Cras sit amet imperdiet metus. Donec dolor odio, fermentum quis ante sollicitudin, ullamcorper condimentum nunc. Donec a rhoncus ipsum. Nulla consequat maximus viverra. Praesent efficitur vulputate congue. Duis nec diam ex. Sed pretium fermentum blandit. Maecenas eu eros id lacus aliquam efficitur. Phasellus eu eros a massa vestibulum scelerisque. Suspendisse nec fermentum erat. Donec aliquet sollicitudin elementum.</p>
<p>Vestibulum augue urna, mattis ut lacinia eu, semper vitae enim. Nunc eu libero eget ipsum interdum sodales. Vestibulum aliquam fermentum mi. Nulla posuere, est nec efficitur lacinia, augue lectus fringilla sem, et feugiat dui neque sed urna. Curabitur nec venenatis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vestibulum venenatis mi.</p>
<p>Aenean at dictum est. Suspendisse nec risus at nisi porttitor porttitor lacinia ac enim. Vivamus sed nisl rhoncus, blandit metus eu, varius orci. Morbi vel feugiat quam. Quisque semper scelerisque eros, non elementum enim hendrerit varius. In maximus ex nec ipsum convallis, sit amet vehicula eros vestibulum. Ut accumsan dolor id dui suscipit, ut bibendum felis interdum. Sed feugiat tincidunt gravida. Sed eget imperdiet arcu, in scelerisque dolor. Etiam lobortis fermentum ligula in iaculis. Aliquam mollis dolor ultrices urna congue pulvinar. Phasellus vitae sem turpis. Proin condimentum malesuada enim vitae porta. Etiam in leo a odio dapibus rhoncus.</p>]]></articleItemBodyText>
        <status><![CDATA[Completed]]></status>
      </ArticleItem>
      <ArticleItem id="1067" key="33fabf81-4741-489b-93cc-76562747d261" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2015-10-31T21:31:03" updateDate="2015-11-01T12:48:53" nodeName="Article two" urlName="article-two" path="-1,1063,1065,1067" isDoc="" nodeType="1058" creatorName="RAY" writerName="RAY" writerID="0" template="1057" nodeTypeAlias="ArticleItem">
        <articleItemTitle><![CDATA[Article two title]]></articleItemTitle>
        <articleItemBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum felis et eros ullamcorper, at faucibus nulla fermentum. Cras sit amet imperdiet metus. Donec dolor odio, fermentum quis ante sollicitudin, ullamcorper condimentum nunc. Donec a rhoncus ipsum. Nulla consequat maximus viverra. Praesent efficitur vulputate congue. Duis nec diam ex. Sed pretium fermentum blandit. Maecenas eu eros id lacus aliquam efficitur. Phasellus eu eros a massa vestibulum scelerisque. Suspendisse nec fermentum erat. Donec aliquet sollicitudin elementum.</p>
<p>Vestibulum augue urna, mattis ut lacinia eu, semper vitae enim. Nunc eu libero eget ipsum interdum sodales. Vestibulum aliquam fermentum mi. Nulla posuere, est nec efficitur lacinia, augue lectus fringilla sem, et feugiat dui neque sed urna. Curabitur nec venenatis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vestibulum venenatis mi.</p>
<p>Aenean at dictum est. Suspendisse nec risus at nisi porttitor porttitor lacinia ac enim. Vivamus sed nisl rhoncus, blandit metus eu, varius orci. Morbi vel feugiat quam. Quisque semper scelerisque eros, non elementum enim hendrerit varius. In maximus ex nec ipsum convallis, sit amet vehicula eros vestibulum. Ut accumsan dolor id dui suscipit, ut bibendum felis interdum. Sed feugiat tincidunt gravida. Sed eget imperdiet arcu, in scelerisque dolor. Etiam lobortis fermentum ligula in iaculis. Aliquam mollis dolor ultrices urna congue pulvinar. Phasellus vitae sem turpis. Proin condimentum malesuada enim vitae porta. Etiam in leo a odio dapibus rhoncus.</p>]]></articleItemBodyText>
        <status><![CDATA[Initiated]]></status>
      </ArticleItem>
      <ArticleItem id="1070" key="c136f897-5573-4cdb-9c06-62206befe391" parentID="1065" level="3" creatorID="0" sortOrder="2" createDate="2015-11-01T11:35:28" updateDate="2015-11-01T12:48:59" nodeName="Article three" urlName="article-three" path="-1,1063,1065,1070" isDoc="" nodeType="1058" creatorName="RAY" writerName="RAY" writerID="0" template="1057" nodeTypeAlias="ArticleItem">
        <articleItemTitle><![CDATA[Article three title]]></articleItemTitle>
        <articleItemBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum felis et eros ullamcorper, at faucibus nulla fermentum. Cras sit amet imperdiet metus. Donec dolor odio, fermentum quis ante sollicitudin, ullamcorper condimentum nunc. Donec a rhoncus ipsum. Nulla consequat maximus viverra. Praesent efficitur vulputate congue. Duis nec diam ex. Sed pretium fermentum blandit. Maecenas eu eros id lacus aliquam efficitur. Phasellus eu eros a massa vestibulum scelerisque. Suspendisse nec fermentum erat. Donec aliquet sollicitudin elementum.</p>
<p>Vestibulum augue urna, mattis ut lacinia eu, semper vitae enim. Nunc eu libero eget ipsum interdum sodales. Vestibulum aliquam fermentum mi. Nulla posuere, est nec efficitur lacinia, augue lectus fringilla sem, et feugiat dui neque sed urna. Curabitur nec venenatis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vestibulum venenatis mi.</p>
<p>Aenean at dictum est. Suspendisse nec risus at nisi porttitor porttitor lacinia ac enim. Vivamus sed nisl rhoncus, blandit metus eu, varius orci. Morbi vel feugiat quam. Quisque semper scelerisque eros, non elementum enim hendrerit varius. In maximus ex nec ipsum convallis, sit amet vehicula eros vestibulum. Ut accumsan dolor id dui suscipit, ut bibendum felis interdum. Sed feugiat tincidunt gravida. Sed eget imperdiet arcu, in scelerisque dolor. Etiam lobortis fermentum ligula in iaculis. Aliquam mollis dolor ultrices urna congue pulvinar. Phasellus vitae sem turpis. Proin condimentum malesuada enim vitae porta. Etiam in leo a odio dapibus rhoncus.</p>
<p>t</p>]]></articleItemBodyText>
        <status><![CDATA[Completed]]></status>
      </ArticleItem>
    </ArticlesMain>
    <ProjectsMain id="1071" key="15bde5dd-482e-4395-a06a-879a4bcea810" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2015-11-01T11:47:19" updateDate="2015-11-01T11:47:19" nodeName="Projects" urlName="projects" path="-1,1063,1071" isDoc="" nodeType="1060" creatorName="RAY" writerName="RAY" writerID="0" template="1059" nodeTypeAlias="ProjectsMain">
      <projectsMainBodyText><![CDATA[<p>Projects main body text</p>]]></projectsMainBodyText>
      <projectsMainTitle><![CDATA[Projects main title]]></projectsMainTitle>
      <ProjectItem id="1072" key="ef5167ba-6804-4430-8dd0-49bdf895f401" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2015-11-01T11:48:01" updateDate="2015-11-01T12:49:07" nodeName="Project one" urlName="project-one" path="-1,1063,1071,1072" isDoc="" nodeType="1062" creatorName="RAY" writerName="RAY" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <status><![CDATA[Completed]]></status>
        <projectItemTitle><![CDATA[Project one title]]></projectItemTitle>
        <projectItemBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum felis et eros ullamcorper, at faucibus nulla fermentum. Cras sit amet imperdiet metus. Donec dolor odio, fermentum quis ante sollicitudin, ullamcorper condimentum nunc. Donec a rhoncus ipsum. Nulla consequat maximus viverra. Praesent efficitur vulputate congue. Duis nec diam ex. Sed pretium fermentum blandit. Maecenas eu eros id lacus aliquam efficitur. Phasellus eu eros a massa vestibulum scelerisque. Suspendisse nec fermentum erat. Donec aliquet sollicitudin elementum.</p>
<p>Vestibulum augue urna, mattis ut lacinia eu, semper vitae enim. Nunc eu libero eget ipsum interdum sodales. Vestibulum aliquam fermentum mi. Nulla posuere, est nec efficitur lacinia, augue lectus fringilla sem, et feugiat dui neque sed urna. Curabitur nec venenatis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vestibulum venenatis mi.</p>
<p>Aenean at dictum est. Suspendisse nec risus at nisi porttitor porttitor lacinia ac enim. Vivamus sed nisl rhoncus, blandit metus eu, varius orci. Morbi vel feugiat quam. Quisque semper scelerisque eros, non elementum enim hendrerit varius. In maximus ex nec ipsum convallis, sit amet vehicula eros vestibulum. Ut accumsan dolor id dui suscipit, ut bibendum felis interdum. Sed feugiat tincidunt gravida. Sed eget imperdiet arcu, in scelerisque dolor. Etiam lobortis fermentum ligula in iaculis. Aliquam mollis dolor ultrices urna congue pulvinar. Phasellus vitae sem turpis. Proin condimentum malesuada enim vitae porta. Etiam in leo a odio dapibus rhoncus.</p>]]></projectItemBodyText>
      </ProjectItem>
      <ProjectItem id="1073" key="e9f59369-cd4c-4887-ad46-197b3761acf9" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2015-11-01T11:48:30" updateDate="2015-11-01T12:49:12" nodeName="Project two" urlName="project-two" path="-1,1063,1071,1073" isDoc="" nodeType="1062" creatorName="RAY" writerName="RAY" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <status><![CDATA[Completed]]></status>
        <projectItemTitle><![CDATA[Project two title]]></projectItemTitle>
        <projectItemBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum felis et eros ullamcorper, at faucibus nulla fermentum. Cras sit amet imperdiet metus. Donec dolor odio, fermentum quis ante sollicitudin, ullamcorper condimentum nunc. Donec a rhoncus ipsum. Nulla consequat maximus viverra. Praesent efficitur vulputate congue. Duis nec diam ex. Sed pretium fermentum blandit. Maecenas eu eros id lacus aliquam efficitur. Phasellus eu eros a massa vestibulum scelerisque. Suspendisse nec fermentum erat. Donec aliquet sollicitudin elementum.</p>
<p>Vestibulum augue urna, mattis ut lacinia eu, semper vitae enim. Nunc eu libero eget ipsum interdum sodales. Vestibulum aliquam fermentum mi. Nulla posuere, est nec efficitur lacinia, augue lectus fringilla sem, et feugiat dui neque sed urna. Curabitur nec venenatis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vestibulum venenatis mi.</p>
<p>Aenean at dictum est. Suspendisse nec risus at nisi porttitor porttitor lacinia ac enim. Vivamus sed nisl rhoncus, blandit metus eu, varius orci. Morbi vel feugiat quam. Quisque semper scelerisque eros, non elementum enim hendrerit varius. In maximus ex nec ipsum convallis, sit amet vehicula eros vestibulum. Ut accumsan dolor id dui suscipit, ut bibendum felis interdum. Sed feugiat tincidunt gravida. Sed eget imperdiet arcu, in scelerisque dolor. Etiam lobortis fermentum ligula in iaculis. Aliquam mollis dolor ultrices urna congue pulvinar. Phasellus vitae sem turpis. Proin condimentum malesuada enim vitae porta. Etiam in leo a odio dapibus rhoncus.</p>]]></projectItemBodyText>
      </ProjectItem>
      <ProjectItem id="1074" key="448851ef-a674-4a2e-ab01-1cb22107dcc3" parentID="1071" level="3" creatorID="0" sortOrder="2" createDate="2015-11-01T11:49:02" updateDate="2015-11-01T12:49:16" nodeName="Project three" urlName="project-three" path="-1,1063,1071,1074" isDoc="" nodeType="1062" creatorName="RAY" writerName="RAY" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <status><![CDATA[Underdevelopment]]></status>
        <projectItemTitle><![CDATA[Project three title]]></projectItemTitle>
        <projectItemBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum felis et eros ullamcorper, at faucibus nulla fermentum. Cras sit amet imperdiet metus. Donec dolor odio, fermentum quis ante sollicitudin, ullamcorper condimentum nunc. Donec a rhoncus ipsum. Nulla consequat maximus viverra. Praesent efficitur vulputate congue. Duis nec diam ex. Sed pretium fermentum blandit. Maecenas eu eros id lacus aliquam efficitur. Phasellus eu eros a massa vestibulum scelerisque. Suspendisse nec fermentum erat. Donec aliquet sollicitudin elementum.</p>
<p>Vestibulum augue urna, mattis ut lacinia eu, semper vitae enim. Nunc eu libero eget ipsum interdum sodales. Vestibulum aliquam fermentum mi. Nulla posuere, est nec efficitur lacinia, augue lectus fringilla sem, et feugiat dui neque sed urna. Curabitur nec venenatis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vestibulum venenatis mi.</p>
<p>Aenean at dictum est. Suspendisse nec risus at nisi porttitor porttitor lacinia ac enim. Vivamus sed nisl rhoncus, blandit metus eu, varius orci. Morbi vel feugiat quam. Quisque semper scelerisque eros, non elementum enim hendrerit varius. In maximus ex nec ipsum convallis, sit amet vehicula eros vestibulum. Ut accumsan dolor id dui suscipit, ut bibendum felis interdum. Sed feugiat tincidunt gravida. Sed eget imperdiet arcu, in scelerisque dolor. Etiam lobortis fermentum ligula in iaculis. Aliquam mollis dolor ultrices urna congue pulvinar. Phasellus vitae sem turpis. Proin condimentum malesuada enim vitae porta. Etiam in leo a odio dapibus rhoncus.</p>]]></projectItemBodyText>
      </ProjectItem>
      <ProjectItem id="1075" key="c149708f-c223-42bb-a11d-28df134c0711" parentID="1071" level="3" creatorID="0" sortOrder="3" createDate="2015-11-01T12:58:45" updateDate="2015-11-01T12:58:45" nodeName="Project four" urlName="project-four" path="-1,1063,1071,1075" isDoc="" nodeType="1062" creatorName="RAY" writerName="RAY" writerID="0" template="1061" nodeTypeAlias="ProjectItem">
        <status><![CDATA[Completed]]></status>
        <projectItemTitle><![CDATA[Project four]]></projectItemTitle>
        <projectItemBodyText><![CDATA[<p><span>Nam blandit risus nec libero congue scelerisque. Aenean ultricies ante in condimentum vulputate. Proin mollis pretium est a hendrerit. In nec nisl a nisl sollicitudin imperdiet. Pellentesque ultricies convallis nisl ac consequat. Pellentesque sed condimentum enim. Phasellus eu dolor tempus, vestibulum quam in, tempus turpis. Aliquam sapien lectus, tincidunt in facilisis in, sollicitudin aliquam justo. Cras sodales tortor non eros porttitor, nec placerat dolor congue. Aenean quam ligula, imperdiet sed congue id, hendrerit vitae enim. Phasellus auctor efficitur imperdiet.</span></p>]]></projectItemBodyText>
      </ProjectItem>
    </ProjectsMain>
    <ContactPage id="1082" key="b7d10663-302b-49d8-a94c-272e499c83a5" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2015-11-01T17:10:23" updateDate="2015-11-01T17:10:23" nodeName="Contact us" urlName="contact-us" path="-1,1063,1082" isDoc="" nodeType="1079" creatorName="RAY" writerName="RAY" writerID="0" template="1078" nodeTypeAlias="ContactPage">
      <contactPageTitle><![CDATA[Contact us - for offer]]></contactPageTitle>
    </ContactPage>
  </Homepage>
</root>